body {
	background: #000000;
	color: #FFFFFF;
	font-family: 'Lato', sans-serif;
}

table {
	width: 100%;
}

tr td {
	border-bottom: 3px solid #FFFFFF;
	padding-bottom: 15px;
	padding-top: 10px;
}

tr:last-child td {
	border-bottom: none;
}

.calendar {
	font-size: 40px;
	font-weight: bold;
	position: relative;
	float: left;
	font-size: 30px;
	font-weight: bold;
	width: 50%;
}

.calendar h1 {
	font-size: 40px;
}

.event-time {
	padding-right: 40px;
	width: 140px;
}

.forecast {
	font-size: 40px;
	font-weight: bold;
	position: relative;
	float: left;
	width: 50%;
}

.forecast h1 {
	font-size: 40px;
}

.hourly-forecast {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	float: left;
	padding-right: 10px;
	margin-right: 10px;
	border-right: 3px solid #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
}

.hourly-forecast:last-child {
	border-right: none;
}

.hourly-forecast p {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.hourly-forecast p:last-child {
	font-size: 50px;
}

.hourly-forecast p i {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 60px;
	vertical-align: top;
}

.lower-boxes {
	position: absolute;
	top: 400px;
	left: 100px;
	right: 100px;
}

.temperature {
	font-size: 130px;
	font-weight: bold;
	position: absolute;
	top: 0px;
	left: 100px;
	float: left;
}

.temperature i {
	font-size: 100px;
	margin-right: 20px;
	vertical-align: top;
	margin-top: 30px;
}

.time {
	font-size: 130px;
	font-weight: bold;
	position: absolute;
	top: 0px;
	right: 100px;
	float: right;
}

.time .colon {
	position: relative;
	bottom: 15px;
}
